<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Recommendations
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar width="100%">
      <ion-title class="title" size="medium">Recommendations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-infinite-scroll *ngIf="showing" threshold="100px">
    <ion-infinite-scroll-content>
      <ion-card *ngFor="let rec of recs" color = "success">
       <ion-card-header>
         <ion-card-title>We recommend that you:</ion-card-title>
       </ion-card-header>

       <ion-card-content>
         {{rec}}
       </ion-card-content>
     </ion-card>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

          <ion-tab-button  routerLink="../tab1">
            <ion-icon name="bed"></ion-icon>
            <ion-label>tap1</ion-label>
          </ion-tab-button>

            <ion-tab-button routerLink="../tab2">
              <ion-icon name="happy-outline"></ion-icon>
              <ion-label>tap2</ion-label>
            </ion-tab-button>

            <ion-tab-button>
              <ion-icon name="analytics"></ion-icon>
              <ion-label>tap3</ion-label>
            </ion-tab-button>

      </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>
