<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Trends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trends</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="showWeek()">W</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="showMonth()">M</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Sleep Quality</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #sleepQualityCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Sleep Duration</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #sleepDurationCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bedtime Start</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #bedtimeStartCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bedtime End</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #bedtimeEndCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Caffine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #caffineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

          <ion-tab-button routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>

            <ion-tab-button routerLink="../tab1">
              <ion-icon name="bed"></ion-icon>
              <ion-label>Data</ion-label>
            </ion-tab-button>

            <ion-tab-button>
              <ion-icon name="analytics"></ion-icon>
              <ion-label>Trends</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="../tab3">
              <ion-icon name="happy-outline"></ion-icon>
              <ion-label>Recommendations</ion-label>
            </ion-tab-button>

      </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>
