<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)] = "useremail" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
    
    <!--
    <ion-item>
      <ion-label>Username input</ion-label>
      <ion-input placeholder="Enter username"></ion-input>
    </ion-item>
    -->

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)] = "password" type="password" placeholder="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="login()">LogIn</ion-button>
  <ion-button color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>

</ion-content>
