<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
  
          <ion-tab-button href="/tab1">
            <ion-icon name="bed"></ion-icon>
            <ion-label>tap1</ion-label>
          </ion-tab-button>
      
            <ion-tab-button href="/tab2">
              <ion-icon name="happy-outline"></ion-icon>
              <ion-label>tap2</ion-label>
            </ion-tab-button>
            
            <ion-tab-button href="/tab3">
              <ion-icon name="analytics"></ion-icon>
              <ion-label>tap3</ion-label>
            </ion-tab-button>
  
      </ion-tab-bar>  
  </ion-tabs>
  </ion-toolbar>
</ion-footer>
